@model RiceMill5911.Models.Condition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Condition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConditionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConditionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConditionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConditionName)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
