@model RiceMill5911.Models.Rice

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>แก้ไขข้อมูลข้าว</h2>


@using (Html.BeginForm("Edit", "Rices", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RiceID)

        <div class="form-group">
            @Html.LabelFor(model => model.RiceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.RiceName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RiceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeRice.TypeRiceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("TypeRiceID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeRice.TypeRiceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WareHouse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WareHouse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WareHouse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.RicePicture, htmlAttributes: new { @class = "control-label col-md-2" })@*//เอาภาพเก่ามาโช*@
            <div class="col-md-offset-3 col-md-10">
                @if (Model.RicePicture != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.RicePicture)" width="100" class="img-rounded">
                }
                <br />
            </div>
            <div class="col-md-offset-3 col-md-10">
                @Html.TextBoxFor(model => model.MyPic, new { htmlAttributes = new { @class = "form-control" }, @type = "file" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.RicePicture, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <td>
                        @if (Model.RicePicture != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.RicePicture)" width="100">
                        }
                    </td>
                    @Html.TextBoxFor(model => model.MyPic, new { htmlAttributes = new { @class = "form-control" }, type = "file" })
                    @Html.ValidationMessageFor(model => model.RicePicture, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ยืนยัน" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("กลับ", "Index", null, new { @class = "btn btn-warning" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
