@model IEnumerable<RiceMill5911.Models.Dealer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DealerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeTelephone1)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DealerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeTelephone1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DealerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.DealerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DealerID })
        </td>
    </tr>
}

</table>
