@model RiceMill5911.Models.BuyDescription

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>เพิ่มรายละเอียดรับซื้อข้าว</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.BuyRice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownList("BuyRice", null, "-------กรุณาเลือกข้าว--------", htmlAttributes: new { @class = "form-control", @id = "vvv", @onchange = "DropU()" })
            @Html.ValidationMessageFor(model => model.BuyRice, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<script>
    function DropU() {
        var p = document.getElementById("vvv").value;
        window.location.href = "@Url.Action("buyRicdetai", "BuyForm")?RicID=" + p;
    }
</script>
@using (Html.BeginForm("AddList", "BuyForm", FormMethod.Post, 
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    @*<div class="form-group">
            @Html.LabelFor(model => model.DesBuyID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesBuyID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesBuyID, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <h1>ชื่อข้าว :@Session["NameRice"].ToString()</h1>
    <div class="form-group">
        @Html.LabelFor(model => model.BuyID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.BuyID, new { htmlAttributes = new { @class = "form-control", @Value = Convert.ToInt32(Session["IDR"]), @readonly = true } })
            @Html.ValidationMessageFor(model => model.BuyID, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.BuyRice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("BuyRice", null, "-------กรุณาเลือกข้าว--------", htmlAttributes: new { @class = "form-control",@Value= TempData["IDI"] })
                @Html.ValidationMessageFor(model => model.BuyRice, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.BuyAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.BuyAmount, new { htmlAttributes = new { @class = "form-control", @id = "i", @onchange = "myFunction()" } })
            @Html.ValidationMessageFor(model => model.BuyAmount, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.BuyPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.BuyPrice, new { htmlAttributes = new { @class = "form-control", @id = "p", @Value = Session["Price"], @readonly = true } })
            @Html.ValidationMessageFor(model => model.BuyPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <script>
        function myFunction() {
            var o = document.getElementById("p").value;
            var x = document.getElementById("i").value;
            document.getElementById("demo").innerHTML = "ราคารวม =" + x * o;
        }
    </script>

    @*<div class="form-group">
        @Html.LabelFor(model => model.BuyTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.BuyTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BuyTotal, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Condition.ConditionName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownList("ConditionID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Condition.ConditionName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StatusRice.StatusRiceName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownList("StatusRiceID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StatusRice.StatusRiceName, "", new { @class = "text-danger" })
        </div>
    </div>
    <h1 id="demo"></h1>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="เพิ่มข้อมูล" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("กลับ", "Index", null, new { @class = "btn btn-warning" })
</div>


